@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --light-grey: #EBEBEB;
    --darker-grey: #989898;
    --dark-grey: #181818;
    --dark-green: #1C2D2C;
    --light-green: #647E4E;
    --hover-green: #84ca1b;
}
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: var(--hover-green);
}
ion-icon {
    color: #989898;
    font-size: 50px;
}
ion-icon:hover {
    color: white;
}
input:focus, textarea:focus, button:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #282828; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 219, 89); 
}
.btn-light {
    background: var(--dark-green);
    border: 3px solid var(--light-green);
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-green);
    padding: 20px;
    border-radius: 78.5px;
    width: 250px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-light:hover {
    background: white;
    color: var(--light-green);
}
.btn-dark {
    background: var(--light-green);
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-grey);
    padding: 20px;
    border-radius: 78.5px;
    width: 250px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-dark:hover {
    background: var(--light-grey);
    color: var(--light-green);
    border: 3px solid var(--light-green);

}
.btn-flex {
    display: flex;
}


/* SECTION POCETNA */
#pocetna {
    width: 100vw;
    height: 100vh;
    background-position: fixed;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('pics/wallpaper6.jpg');    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav-bar {
    font-family: 'Russo One', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.nav-bar-left {
    display: flex;
}
.nav-text {
    list-style: none;
    padding: 20px 20px;
}
.nav-text > a:hover {
    transition: color 0.5s;
    color: var(--light-green);
}
.nav-text > a {
    color: white;
}
.logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
    color: var(--light-grey);
    text-transform: uppercase;
    text-shadow: black 2px 2px;

}
.logo-first-text {
    font-size: 6em;
}
.logo-second-text {
    font-size: 2.2em;
    margin-bottom: 30px;
}
.arrow-down {
    animation: downbounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#arrow-one:hover {
    fill: var(--light-green);
}

/* SECTION O MENI */
#omeni {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url(svgs/wall.svg);
}
.omeni-left, .omeni-right {
    width:100%;
    height: 100%;
}
.omeni-left {
    background-color: EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}
.omeni-left > img {
    width: 500px;
    height: 650px;
}
.omeni-info {
    font-size: 2.5em; 
    letter-spacing: 3px;
    text-shadow: black 2px 2px;
}
.omeni-info:after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 250px;
    background: #647E4E;

}
.omeni-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
    color: white;
}

.omeni-text {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding: 10px 0;
}

/* SECTION SCILAB */

.scilab-header {
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    padding: 20px 0;
    color: var(--dark-green);
}
.scilab-header:after {
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    background-color: var(--light-green);
    margin: 0 auto;
}
.scilab-header-second {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin-bottom: 10px;
    /* text-transform: uppercase; */
}
.scilab-flex {
    display: flex;
}
.scilab-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scilab-left {
    text-align: center;
    /* padding: 0 20px; */
    color: var(--dark-green);
    padding: 20px 50px;
}
.scilab-box-text {
    padding: 15px 0 15px 0;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    text-align: left;

}
.scilab-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scilab-link {
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}
.scilab-link > a:hover {
    color: rgb(87, 145, 0);
}

/* SECTION SCILAB SINTAKSA */
#scilab-sintaksa {
    background: var(--dark-green);
    color: var(--light-grey);
    text-align: center;
    width: 100vw;
    height: 50vh;
}
.scilab-sintaksa-hedaer {
    color: var(--light-grey);
    font-family: 'Russo One', sans-serif;
    font-size: 2em;
    padding: 20px 0;
    letter-spacing: 3px;
    text-shadow: black 2px 2px;
}
.scilab-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scilab-card {
    background: var(--light-green);
    border-radius: 20px;
    padding: 20px;
    margin: 10px 30px;
    height: 330px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    transition: all 0.5s;
    
}
.scilab-card:nth-child(1) {
    order:1;
}
.scilab-card:nth-child(2) {
    order:3;
}
.scilab-card:nth-child(3) {
    order:2;
}
.scilab-card > h3 {
    padding: 10px;
}
.scilab-card:hover {
    background-color: #587D38;
    color: white;

}

/* SECTION KONTAKT */
#kontakt {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: white;
}
.kontakt-left, .kontakt-right {
    width: 100%;
    height: 100%;
}
.kontakt-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.kontakt-right > h1 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    padding: 50px 0;
}
form {
    max-width: 650px;
    margin: 0 auto;
    font-family: 'Russo One', sans-serif; 
    text-transform: uppercase;   
}
input[type="text"] {
    background-color: var(--light-grey);
    width: 100%;
    padding: 15px;
    margin: 10px;
    color:black;
    border: transparent;
    transition: box-shadow 0.5s;
    border-radius: 30px;;
}
input[type="submit"] {
    background-color: var(--light-green);
    color: var(--light-grey);
    width: 40%;
    padding: 15px;
    margin: 10px;
    border: transparent;
    transition: all 0.5s;
    border-radius: 30px;
    font-family: 'Russo One', sans-serif; 
    text-transform: uppercase;
    cursor: pointer;
}
textarea {
    background-color: var(--light-grey);
    border: transparent;
    color:black;
    margin: 10px;
    width: 100%;
    padding: 15px;
    transition: box-shadow 0.5s;
    border-radius: 30px;

}
input[type="text"]:hover, textarea:hover {
    box-shadow:inset 0px 0px 0px 3px var(--light-green);
}
input[type="text"]:focus, textarea:focus {
    box-shadow:inset 0px 0px 0px 3px var(--light-green);
}

input[type="submit"]:hover {
    background-color: white;
    color: var(--dark-green);
    box-shadow:inset 0px 0px 0px 3px var(--light-green);
}

/* SECTION FOOTER */ 
footer {
    display: flex;
    background-color: var(--dark-grey);
    color: var(--darker-grey);
    font-family: 'Russo One', sans-serif;
    justify-content: space-around;
    align-items: center;
    height: 130px;
}
/* .footer-center-box {
    display: flex;
    align-items: center;
    padding: 10px 10px;
} */
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-right {
    display: flex;
    align-items: center;
}
.footer-right > span {
    padding: 0 5px ;
}
/* MEDIA QUERY */
@media (max-width: 1200px) {
    #omeni, #kontakt{
        flex-direction: column;
    }
    .scilab-flex {
        flex-direction: column;
    }
    .omeni-left > img {
        width: 300px;
        height: 400px;
    }
    .omeni-desc {
        color: var(--dark-green);
    }
    .omeni-info {
        color: var(--dark-green);
        text-shadow: white 2px 2px;
    }
    .scilab-box > img {
        width: 90px;
    }
    .scilab-right > img {
        width: 70%;
    }
    .scilab-left {
        text-align: justify;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .logo-first-text {
        font-size: 4.5em;
    }
    .logo-second-text {
        font-size: 1.5em;
    }
    .scilab-cards, footer {
        flex-direction: column;
    }
    .btn-flex {
        flex-direction: column;
        /* background: black; */
        justify-content: space-evenly;
    }
    .btn-flex > .btn-light {
        margin-bottom: 10px;
    }
    .omeni-right {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Russo One', sans-serif;
        color: white;
        padding: 20px;
    }
    .omeni-info {
        text-align: center;
        font-size: 2em;
    }
    .omeni-text {
        font-size: 1.2em;
    }
    #omeni {
        background: var(--light-grey);
        height: auto;
    }
    footer {
        height: auto;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;;
    }
    .scilab-card {
        min-width: 350px;
    }
    #scilab-sintaksa {
        height: auto;
    }
    .footer-right {
        order: 1;
        padding: 10px;
    }
    .footer-left {
        order: 2;
    }
    .footer-center {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .logo-first-text {
        font-size: 2em;
    }
}

/* ANIMATIONS */

@keyframes downbounce {
    from {
        transform: translate3d(0, 0, 0); 
    }
    to {
        transform: translate3d(0, 25px, 0);
    }
}
